<!-- survey/templates/survey/survey_form.html -->
{% extends 'base.html' %}
{% load templatetags %}.
{% load static %}
{% load crispy_forms_tags %} 
{% block title %} Inputs Answer Form {% endblock %}
{% block content %}
<!-- survey/templates/survey/survey_form.html -->
<!-- survey/templates/survey/survey_form.html -->
<!-- survey/templates/survey/survey_form.html -->
<form method="post">
    {% csrf_token %}
    {% for category, answers in company_answers|groupby:"question.category" %}
        <h4>{{ category }}</h4> <!-- Display the category name -->
        {% for answer in answers %}
            <h4>{{ answer.question.name }}</h4>
            <label for="answer_{{ answer.id }}">Answer:</label>
            <select name="answer_{{ answer.id }}">
                <option value="NA">N/A</option>
                <option value="Y" {% if answer.answer == 'Y' %}selected{% endif %}>Yes</option>
                <option value="N" {% if answer.answer == 'N' %}selected{% endif %}>No</option>
            </select><br>
            <label for="notes_{{ answer.id }}">Notes:</label>
            <textarea name="notes_{{ answer.id }}">{{ answer.notes }}</textarea><br>
        {% endfor %}
    {% endfor %}
    <input type="submit" value="Submit">
</form>





{% endblock %}