{% extends 'base.html' %} 
{% load crispy_forms_tags %} 
{% load static %}
{% block content %}
    <h1>User List</h1>
    <div class="table-responsive">
        <input type="text" id="searchInput" onkeyup="searchTable()" placeholder="Search for users...">
        <table class="table table-striped" id="userTable">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Assigned Group</th> <!-- Added column for assigned group -->
                    <th>Change Password</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr onclick="window.location.href='/edit_user/{{ user.id }}'">
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.first_name }}</td>
                        <td>{{ user.last_name }}</td>
                        <td>
                            {% for group in user.groups.all %}
                                {{ group.name }}
                            {% endfor %}
                        </td> <!-- Display assigned group -->
                        <td><a href="{% url 'admin_password_change' user.id %}">Change Password</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


<script>
    function searchTable() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("searchInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("userTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>
{% endblock content %}