{% extends 'base.html' %}   

{% block title %}{{ companyid.company_name }}{% endblock %}

{% block content %}
    
<button class="btn btn-sm btn-primary" onclick="window.history.back()">Back</button>

<br>
    <div class="row">   
        <div class="col-lg-6">
                <div class="card-body">
                    <img src="{{ companyid.logo.url }}" class="rounded-xl mt-6 img-thumbnail" style="max-width: 200px; height: auto;">
                    <p><strong>ID: </strong>{{ companyid.id }} - {{ companyid.name }}</p>
                    <a class="btn btn-sm btn-primary offset-md-1" title="Edit Company Profile"  href="{% url 'Update_Company' companyid.id %}"><span class="fa fa-info-circle text-blue-500"></span></a>
                    <a class="btn btn-sm btn-primary offset-md-1" title="Client Input"  href="{% url 'fill_inputs_form' companyid.id %}"><span class="fa fa-plus-square text-blue-500"></span></a>
                    <a class="btn btn-sm btn-primary offset-md-1" title="Evaluation" href="{% url 'fill_evaluation_form_with_pk' companyid.id %}"><span class="fa fa-star text-blue-500"></span></a>
                    <a class="btn btn-sm btn-primary offset-md-1" title="Action Plan"  href=""><span class="fa fa-list-ol text-blue-500"></span></a>
                    <a class="btn btn-sm btn-primary offset-md-1" title="KPIs Tracker" href=""><span class="fa fa-tasks text-blue-500"></span></a>
                </div>
        </div>
        <div class="col-lg-6">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">{{ companyid.id }} - {{ companyid.name }}</h6>
                </div>
                <div class="card-body">
                    <p><strong>Name of CEO / MD: </strong>{{ companyid.name_of_ceo_md }}</p>
                    <p><strong>Company Contacts Numbers: </strong>{{ companyid.company_contacts_numbers }}</p>
                    <p><strong>Company Address: </strong>{{ companyid.company_address }}</p>
                    <p><strong>Company Website: </strong>{{ companyid.company_website }}</p>
                    <p><strong>Industry: </strong>{{ companyid.industry }}</p>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <ul class="nav nav-tabs" id="myTabs">
                <li class="nav-item">
                <a class="nav-link active" id="tab1-tab" data-bs-toggle="tab" href="#tab1">Company Profile</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" id="tab2-tab" data-bs-toggle="tab" href="#tab2">KPIs</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" id="tab3-tab" data-bs-toggle="tab" href="#tab3">Attachments</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="tab1">
                    <br>
                    <div class="col-lg-12">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Accordion -->
                            <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse"
                                role="button" aria-expanded="true" aria-controls="collapseCardExample">
                                <h6 class="m-0 font-weight-bold text-primary">Company Background</h6>
                            </a>
                            <!-- Card Content - Collapse -->
                            <div class="collapse show" id="collapseCardExample">
                                <div class="card-body">
                                    <p><strong>Official social media pages : </strong>{{ companyid.official_social_media_pages }}</p>
                                    <p><strong>Legal formation: </strong>{{ companyid.legal_formation }}</p>
                                    <p><strong>Ownership: </strong>{{ companyid.ownership }}</p>
                                    <p><strong>Products: </strong>{{ companyid.products }}</p>
                                    <p><strong>Sales Channels: </strong>{{ companyid.sales_channels }}</p>
                                    <p><strong>Professional Staff: </strong>{{ companyid.professional_staff }}</p>
                                    <p><strong>Exports (%) of Revenue: </strong>{{ companyid.exports_of_revenue }}</p>
                                    <p><strong>Management: </strong>{{ companyid.management }}</p>
                                    <p><strong>Organization classification: </strong>{{ companyid.organization_classification }}</p>
                                    <p><strong>Locations: </strong>{{ companyid.locations }}</p>
                                </div>
                                                </div>  
                                            </div>
                                        </div>
            
            
                                    <!-- Data Card -->
            
                                        <div class="col-lg-12">
                                            <div class="card shadow mb-4">
                                                <!-- Card Header - Accordion -->
                                                <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse"
                                                    role="button" aria-expanded="true" aria-controls="collapseCardExample">
                                                    <h6 class="m-0 font-weight-bold text-primary"><i class="fas fa-industry"></i> Industry background</h6>
                                                </a>
                                                <!-- Card Content - Collapse -->
                                                <div class="collapse show" id="collapseCardExample">
                                                    <div class="card-body">
                                                        <p><strong>Web search: </strong>{{ companyid.web_search }}</p>
                                                        <p><strong>Trade & industry references: </strong>{{ companyid.trade_industry_references }}</p>
                                                        <p><strong>Official governmental websites: </strong>{{ companyid.official_governmental_websites }}</p>
                                                    </div>
                                                </div>
                                            </div>    
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="card shadow mb-4">
                                                <!-- Card Header - Accordion -->
                                                <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse"
                                                    role="button" aria-expanded="true" aria-controls="collapseCardExample">
                                                    <h6 class="m-0 font-weight-bold text-primary"><i class="fas fa-briefcase"></i> Business Direction / Strategy</h6>
                                                </a>
                                                <!-- Card Content - Collapse -->
                                                <div class="collapse show" id="collapseCardExample">
                                                    <div class="card-body">
                                                        <p><strong>Recent strategy or planning document: </strong>{{ companyid.recent_strategy_or_planning_document }}</p>
                                                        <p><strong>Direction / strategy brief : </strong>{{ companyid.direction_strategy }}</p>
                                                        <p><strong>If possible, determine specific initiatives/projects to achieve strategy: </strong>{{ companyid.initiatives_projects }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
            
        
                                        <div class="col-lg-12">
                                            <div class="card shadow mb-4">
                                                <!-- Card Header - Accordion -->
                                                <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse"
                                                    role="button" aria-expanded="true" aria-controls="collapseCardExample">
                                                    <h6 class="m-0 font-weight-bold text-primary"><i class="fas fa-exclamation-triangle"></i> Challanges</h6>
                                                </a>
                                                <!-- Card Content - Collapse -->
                                                <div class="collapse show" id="collapseCardExample">
                                                    <div class="card-body">
                                                        <p><strong>Market: </strong>{{ companyid.market }}</p>
                                                        <p><strong>Financial : </strong>{{ companyid.financial }}</p>
                                                        <p><strong>Production: </strong>{{ companyid.production }}</p>
                                                        <p><strong>Supply chain: </strong>{{ companyid.supply_chain }}</p>
                                                        <p><strong>Organizational/people : </strong>{{ companyid.organizational_people }}</p>
                                                        <p><strong>Customer: </strong>{{ companyid.customer }}</p>
                                                        <p><strong>Legal: </strong>{{ companyid.legal }}</p>
                                                        <p><strong>Technological: </strong>{{ companyid.technological }}</p>
                                                    </div>
                                                </div>
                                            </div>        
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="card shadow mb-4">
                                                <!-- Card Header - Accordion -->
                                                <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse"
                                                    role="button" aria-expanded="true" aria-controls="collapseCardExample">
                                                    <h6 class="m-0 font-weight-bold text-primary"><i class="fas fa-info-circle"></i> Basic Data</h6>
                                                </a>
                                                <!-- Card Content - Collapse -->
                                                <div class="collapse show" id="collapseCardExample">
                                                    <div class="card-body">
                                                        <p><strong>Headcount: </strong>{{ companyid.headcount }}</p>
                                                        <p><strong>Headcount Distribution: </strong>{{ companyid.headcount_distribution }}</p>
                                                        <p><strong>Headcount Distribution Notes: </strong>{{ companyid.headcount_distribution_notes }}</p>
                                                        <p><strong>Turnover (%) 2022 Aggregate: </strong>{{ companyid.turnover }}</p>
                                                        <p><strong>Headcount classifications: </strong>{{ companyid.headcount_classifications }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                </div>
                <div class="tab-pane fade" id="tab2">
                    <br>
                    <div class="col-lg-12">

                        <!-- Dropdown Card Example -->
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div
                                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary"><i class="fas fa-chart-line"></i> Company KPIs</h6>
                                <div class="dropdown no-arrow">
                                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                        aria-labelledby="dropdownMenuLink">
                                        <div class="dropdown-header">Actions:</div>
                                        <a class="dropdown-item" href="{% url 'assign_competencies' companyid.id %}">Assign new KPI</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="{% url 'company_detail' companyid.id %}">View All</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                            {% if available_competencies %}
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Description</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for competency in available_competencies %}
                                                <tr>
                                                    <td>{{ competency.name }}</td>
                                                    <td title="{{ competency.description }}">{{ competency.description|slice:":120" }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% else %}
                                <p>No KPIs assigned yet.</p>
                                <a href="{% url 'assign_competencies' companyid.id %}"><span class="fa fa-plus-circle"></span> Add KPI</a>
                            {% endif %}
                            </div>
                        </div>
                    </div>

                <!-- KPIs Tracker Card -->

                    <div class="col-lg-12">

                        <!-- Dropdown Card Example -->
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div
                                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary"><i class="fas fa-tasks"></i> KPIs Tracker</h6>
                                <div class="dropdown no-arrow">
                                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                        aria-labelledby="dropdownMenuLink">
                                        <div class="dropdown-header">Actions:</div>
                                        <a class="dropdown-item" href="{% url 'add_competency_record' companyid.id %}">Add New Record</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="{% url 'add_competency_record' companyid.id %}">View All</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                {% include 'company_detail.html' %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="tab3">
                    <br>
                    <div class="col-lg-12">

                        <!-- Dropdown Card Example -->
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div
                                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary"><i class="fas fa-paperclip"></i> Company Attachments</h6>
                                <div class="dropdown no-arrow">
                                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                        aria-labelledby="dropdownMenuLink">
                                        <div class="dropdown-header">Actions:</div>
                                        <a class="dropdown-item" href="{% url 'assign_competencies' companyid.id %}">Assign new KPI</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="{% url 'assign_competencies' companyid.id %}">View All</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <a class="inline-block float-right btn btn-sm btn-primary" aria-hidden="true" title="Upload new attachment" href="{% url 'company_attachments' companyid.id %}"><span class="fa fa-upload"></span></a>
                                {% include 'company/attachment_widget.html' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
{% endblock %}
       
                    
